<footer>
    <div class="footer-main">
        <div class="subscribe">
            <h6>Subscribe To The Newsletter</h6>
            <form id="subscribe-form">
                <div class="input-wrapper">
                    <input type="email" name="emailadd" id="emailadd" placeholder="Enter Your Email" />
                    <span><img src="photos/Frame 39410.png" alt="Arrow Icon" /></span>
                </div>
            </form>
        <div class="social-media-icons">
            <a href="https://twitter.com">
                <img src="photos/Twitter.png" alt="Twitter Logo" />
            </a>
            <a href="https://facebook.com/">
                <img src="photos/Facebook.png" alt="Facebook logo" />
            </a>
            <a href="https://linkedin.com/">
                <img src="photos/Linkedin.png" alt="Linkedin logo" />
            </a>
        </div>
    </div>
    <div class="links">
        <div class="buying&selling">
            <h6>Buying & Selling</h6>
            <ul>
                <li><a href="#">Find A Car</a></li>
                <li><a href="#">Listings By City</a></li>
                <li><a href="#">Sell Your Car</a></li>
                <li><a href="#">Compare Side By Side</a></li>
            </ul>
        </div>
        <div class="resource">
            <h6>Resource</h6>
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Guides</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Help Center</a></li>
            </ul>
        </div>
        <div class="about">
            <h6>About</h6>
            <ul>
                <li><a href="#">Company</a></li>
                <li><a href="#">Career</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-content">
            <p>&copy; 2023 Car Leadership</p>
            <div class="footer-links">
                <ul>
                    <li><a href="#">Terms Of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Trust & Safety</a></li>
                    <li><a href="#">Law Enforcement</a></li>
                    <li><a href="#">Law Enforcement</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<link rel="stylesheet" href="/templates/footer-template.css">
<script src="/footer.js"></script>