<header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#brands">Brands</a></li>
            <li><a href="#explore">Explore</a></li>
        </ul>
    </nav>

   <div class="logo">
        <img src="photos/Mask group.png" alt="Logo Image" />
        <h1>CAR</h1>
        <h2>DEALERSHIP</h2>
   </div>

    <nav>
        <ul>
            <li><a href="#about-us">About Us</a></li>
            <li><a href="#video">Video</a></li>
            <li><a href="#contact-us">Contact Us</a></li>
        </ul>
    </nav>
</header>

<link rel="stylesheet" href="/templates/header-template.css">